<div class="w-full h-screen bg-slate-100 flex justify-center items-center p-4">
  <div class="bg-white w-[600px] p-4 rounded-md">
    <div class="my-7 text-center">
      <h3 class="text-4xl">Welcome Back</h3>
    </div>
    <app-text-field placeholder="Email" />
    <app-text-field
      placeholder="Password"
      type="Password"
      inputClasses="mt-4"
    />

    <button class="bg-blue-600 text-white w-full my-4 h-12 rounded-md">
      Log In
    </button>
    <div class="my-4 text-center">
      <p>Don't have and account? <span>Sign Up Here</span></p>
    </div>
  </div>
</div>
